body {
    background:no-repeat linear-gradient(#302a15,#6a6c49,#6f705b,#8aafd6,#a6bcd3,#8aafd6,#b49852,#a27235,#9c6f46);
    background-size: cover;
}

.section {
    padding: 30px;
}

#container {
    margin-top: 51px;
    height: auto;
    margin-bottom: 51px;
}