body {
    background:no-repeat linear-gradient(#808277,#bebfb1,#eceeeb,#bcbea8,#54564b);
    background-size: cover;
}

.section {
    padding: 30px;
}

#container {
    margin-top: 51px;
    height: auto;
    margin-bottom: 51px;
}