* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* TITLEBAR */

#titlebar {
    display: flex;
    background-color: black;
    height: 70px;
    align-items: center;
    justify-content: center;
}

#titlebar div {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
}

#titlebar img {
    width: 70%;
}

#titlebar div:hover{
    filter: hue-rotate(180deg);
}