body {
    background:no-repeat linear-gradient(#678198,#98b2cc,#92b0c5,#768890,#596755,#36524a,#354139);
    background-size: cover;
}

.section {
    padding: 30px;
}

#container {
    margin-top: 51px;
    height: auto;
    margin-bottom: 51px
}