/* CONTENT */

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 640px;
}

.section {
    padding: 79px;
}

.part1 img {
    height: 300px;
    width: 210px;
    box-shadow: 10px 10px 5px black, -10px -10px 5px black;
}

.part1 {
    display: block;
    padding: 5px;
}

.part2 {
    background-color: rgb(76 93 208);
    text-align: center;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 10px 5px black;
    font-family: 'Merriweather Sans', sans-serif;
}

.section a {
    text-decoration: none;
    color: whitesmoke;
}

.part2:hover{
    background-color: rgb(26 34 88);
}

.part1:hover{
    filter: brightness(60%);
}